/* Main Color : #82c91e */

/* Typescale */
/* 10px 12px 14px 16px 18px 20px 24px 30px 36px 44px 52px 62px 74px 86px 98px */

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1;
  overflow-x: hidden;
}

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #555;
  display: grid;
  grid-template-rows: 90vh min-content min-content 100vh min-content;
  overflow-x: hidden;
}

/* General  */

h1 {
  font-size: 5.2rem;
  line-height: 1.2;
}

h2 {
  font-size: 4.4rem;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}

.heading-2--green {
  color: #5c940d;
}

h3 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.08rem;
}

h4 {
  font-size: 2.4rem;
}
.paragraph {
  font-size: 2rem;
  line-height: 1.7;
}

.paragraph-sm {
  font-size: 1.8rem;
  line-height: 1.6;
}

.paragraph-title {
  font-weight: 700;
  letter-spacing: 1px;
}

.paragraph-underline {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.paragraph-underline:hover {
  color: #5c940d;
}

.paragraph--green {
  color: #5c940d;
}

.btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.7;
  border: none;
}

.btn--green {
  color: #fff;
  background-color: #82c91e;
  font-weight: 700;
}

.btn--ghost {
  background-color: transparent;
  border: 1px solid #555;
  transition: all 0.2s;
}

.btn--ghost:hover {
  color: #fff;
  background-color: #82c91e;
  border: 1px solid #82c91e;
}

.btn--yellow {
  color: #fff;
  background-color: #74b816;
  font-weight: 700;
}

.btn--lg {
  padding: 1.5rem 3rem;
}

.btn--md {
  padding: 1.2rem 3rem;
}

.btn--sm {
  padding: 1rem 1.5rem;
}

.btn--shadow-md {
  box-shadow: 0 1px 2px #55555592;
}

/* Header */

.hero {
  background-color: #f4fce3;
  display: grid;
  padding: 2rem 16rem;
  grid-template-columns: 40vw 30vw;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  gap: 10rem;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hero__image {
  overflow: hidden;
  width: 100%;
}

.hero__img {
  /* text-align: end; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero_paragraph {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__button {
  display: flex;
  gap: 2rem;
}

/* Plant Category */

.plant-category {
  display: flex;
  gap: 15rem;
  padding: 8rem 10rem;
  background-color: #fff3bf;
  justify-content: center;
  align-items: center;
}

.plant-category__category {
  display: flex;
  flex: 0 1 80%;
  /* justify-content: center; */
  gap: 2rem;
  width: 80%;
  height: 60%;
}

.plant-image {
  position: relative;
  width: 80%;
  justify-self: start;
  overflow: hidden;
}

.plant-img {
  /* position: absolute; */
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
  z-index: -1;
  transition: all 0.2s;
  cursor: pointer;
}

.plant-img:hover {
  transform: scale(1.1);
}

.plant-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-weight: 400;
}

.featured {
  background-color: #fff4e6;
  padding: 10rem 0;
}

.featured__heading {
  text-align: center;
  display: flex;

  flex-direction: column;
  gap: 6rem;

  margin-bottom: 3rem;
}

/* Featured */

.featured__category {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.featured__product {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  /* flex-wrap: wrap; */
  column-gap: 4rem;
  row-gap: 8rem;
  justify-content: center;
}

.featured__card {
  height: 50rem;
  margin-bottom: 10rem;
  border: 5px solid transparent;
  transition: all 0.2s;
  cursor: pointer;
}

.featured__card:hover {
  border: 5px solid #82c91e;
}

.featured-img {
  height: 100%;
  margin-bottom: 2rem;
}

.featured-title {
  margin-bottom: 1.5rem;
}

.featured__card-title {
  text-align: center;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

/* Testimonial */

.testimonial {
  padding: 18rem 10rem;
  display: flex;
  background-color: #e9fac8;
  justify-content: center;
  height: 100%;
}

.testimonial h4 {
  font-weight: 400;
}

.testimonial__box {
  padding: 5rem 15rem;
  background-color: #fff9db;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.testimonial__email {
  padding: 2rem 2rem;
  border: none;
  font-size: 1.6rem;
  outline: none;
  box-shadow: 0 1px 2px #82c91e;
}

.img__testimonial {
  width: 100%;
  position: relative;
}

.testimonial__img {
  object-fit: cover;
  filter: brightness(60%);
  width: 100%;
  height: 100%;
}

.text-box {
  position: absolute;
  /* bottom: 0;
   */
  top: 50%;
  left: 35%;
  transform: translate(-20%, -50%);
  line-height: 1.4;
  color: #fff;
}

.text-box p {
  color: #fff;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.text-box h3 {
  font-size: 2.4rem;
}

/* footer */

.footer {
  padding: 6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #d8f5a2;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__container a {
  color: #555;
}

.footer__container a:hover {
  color: #66a80f;
}

.footer__heading {
  width: 40%;
  align-self: center;
}

.footer__heading h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #5c940d;
}

@media only screen and (min-width: 91em) {
  .hero {
    /* height: 100vh; */
    padding: 15rem 25rem;
    display: grid;
    grid-template-columns: 50fr 50fr;
    align-items: normal;
    align-content: normal;
    gap: 20rem;
  }

  .hero__image {
    margin-top: -5rem;
  }

  .hero__img {
    /* text-align: end; */
    object-fit: cover;
    object-position: center;
  }

  .plant-category {
    display: flex;
    padding: 15rem;
    align-content: center;
    background-color: #fff3bf;
  }

  .plant-category__category {
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
  }

  .plant-image {
    width: 25rem;
    height: 25rem;
  }

  .testimonial {
    /* padding: 20rem 50rem; */
    display: flex;
    background-color: #e9fac8;
  }

  .testimonial__box {
    padding: 10rem 15rem;
    background-color: #fff9db;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .testimonial__email {
    padding: 2rem 2rem;
    border: none;
    font-size: 1.6rem;
    outline: none;
    box-shadow: 0 1px 2px #82c91e;
  }

  .text-box {
    position: absolute;
    /* bottom: 0;
     */
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
    color: #fff;
  }

  .text-box h3 {
    font-size: 3.6rem;
  }

  .img__testimonial {
    width: 60%;
    position: relative;
  }

  .testimonial__img {
    object-fit: cover;
    filter: brightness(60%);
    /* width: 50%; */
    height: 100%;
  }

  .footer {
    padding: 6rem 30rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #d8f5a2;
  }

  .footer__heading h3 {
    font-size: 3.6rem;
    font-weight: 700;
    color: #5c940d;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 48.5%;
  }

  body {
    grid-template-rows: 90vh repeat(5, min-content);
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 25rem;
  }

  .hero__heading {
    flex-wrap: 1;
  }

  .hero__image {
    display: none;
  }

  .plant-category {
    flex-direction: column;
    gap: 4rem;
  }

  .featured__product {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    /* flex-wrap: wrap; */
    column-gap: 4rem;
    row-gap: 8rem;
    justify-content: center;
  }

  .testimonial {
    flex-direction: column;
    overflow: hidden;
    padding: 0 0;
    justify-content: center;
    padding: 5rem;
  }

  .img__testimonial {
    display: none;
  }

  .testimonial h4 {
    font-weight: 400;
  }

  .testimonial__box {
    padding: 5rem;
    background-color: #fff9db;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 40%;
  }

  body {
    grid-template-rows: 70vh repeat(5, min-content);
  }

  .hero {
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0;
  }

  .hero__heading {
    padding: 5rem 10rem;
  }

  .plant-category__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
  }

  .plant-title {
    font-size: 3.6rem;
  }

  .featured__product {
    display: grid;
    grid-template-columns: min-content;
    row-gap: 6rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .footer {
    padding-bottom: 2rem;
  }

  .footer__heading h3 {
    font-size: 1.8rem;
  }
}
